* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* typo */

h2 {
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}

p {
	font-size: 20px;
}

/* style */

/* container */
.container {
	height: 800px;
	width: 80%;
	margin: 50px auto;
	background-color: darkseagreen;
}


/* container top */
.container__top {
	height: 45%;
	width: 80%;
	margin: 0 auto;
	padding: 30px;
	border: 1px solid #000;
}

.container__top__calcola {
	height: 80%;
	width: 80%;
	margin: 0 auto;
	background-color: red;
}

/* container top sezione input */
.container__top__calcola__input {
	height: 50%;
	width: 100%;
	display: flex;

	border: 1px solid black;

}

.container__top__calcola__input__box {
	flex: 0 1 33%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container__top__calcola__input__box p {
	padding: 20px;
}


/* container top sezione button */
.container__top__calcola__button {
	height: 50%;
	width: 100%;
	border: 1px solid black;
}


/* container bottom */
.container__bottom {
	height: 55%;
	width: 80%;
	margin: 0 auto;
	padding: 30px;
	border: 1px solid #000;
}

.container__top__biglietto {
	height: 80%;
	width: 80%;
	margin: 0 auto;
	background-color: red;
}